* {
	font-family: Verdana;
}
body,html {
	margin: 0px;
	padding: 0px;
}
#error {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
}
#error.on {
	display: block;
}
#lat {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #000;
	color: #fff;
	margin: 0px;
	padding: 5px;
	font-size: 10px;
}
canvas {
	border: 1px solid #aaa;
	height: 80vh;
}